<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32 text-center">

          <img src="./assets/images/logos/dark-logo.svg" class="m-2 mb-4" alt="logo" />

          <h2 class="mb-4">Welcome to TaskFlow</h2>
          <p class="mb-4">Click below to sign in securely with Keycloak</p>

          <button mat-flat-button color="primary" class="w-100 mb-3" (click)="loginUser()">
            Sign In as User
          </button>

          <button mat-stroked-button color="primary" class="w-100" (click)="loginAdmin()">
            Sign In as Admin
          </button>


          <a [routerLink]="['/authentication/register']">Create an account</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>